<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="ContactManagementSystem.Listner"></listener>
</listeners>
  <test  name="Test">
    <classes>
      <class name="ContactManagementSystem.Login"/>
      <class name="ContactManagementSystem.EditContact"/>
      <class name="ContactManagementSystem.ValidationAndSecurity"/>
      <class name="ContactManagementSystem.SessionAndNavigation"/>
      <class name="ContactManagementSystem.UiandResponsives"/>
      <class name="ContactManagementSystem.Signup"/>
      <class name="ContactManagementSystem.AddContact"/>
      <class name="ContactManagementSystem.DeleteContact"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
